<aside>
  <div id="sidebar" class="nav-collapse " style="margin-left: -179px;">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <li class="active">
        <a class="" routerLink="/">
            <i class="icon_house_alt"></i>
            <span>Dashboard</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;" class="">
          <i class="icon_document_alt"></i>
          <span>Administração</span>
          <span class="menu-arrow arrow_carrot-right"></span>
        </a>
        <ul class="sub">
          <li><a routerLink="/administradores"><i class="icon_table"></i>Administradores</a></li>
          <li><a href="javascript:;" (click)="sair()"><i class="icon_key_alt"></i>Sair</a></li>
        </ul>
      </li>
      <li><a routerLink="/alunos"><i class="icon_table"></i>Alunos</a></li>
      <li><a routerLink="/materiais"><i class="icon_table"></i>Materia</a></li>
      <li><a routerLink="/pais"><i class="icon_table"></i>Pais</a></li>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->
