<section id="main-content">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <!--main content start-->
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="/">Home</a></li>
          <li><i class="fa fa-laptop"></i>Dashboard</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <section class="panel" style="padding: 20px">
          <!-- container section start -->
          <div class="text-center">
            <h1 class="display-4">Seja muito bem vindo a área criada com alunos do desafio</h1>
            <p>Para mais detalhes acesse <a href="https://www.torneseumprogramador.com.br">https://www.torneseumprogramador.com.br</a></p>
          </div>
        </section>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</section>
