<section id="main-content">
  <!--main content start-->
  <section class="wrapper">
    <form class="login-form" method="POST" action="/login/logar">
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input type="text" class="form-control" [(ngModel)]="administrador.email" name="email" placeholder="Digite o seu email" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" [(ngModel)]="administrador.senha" name="senha" class="form-control" placeholder="Digite a sua senha">
            </div>
            <div *ngIf="erro" class="alert alert-danger" style="margin: 10px" role="alert">
                {{erro}}
            </div>
            <button class="btn btn-primary btn-lg btn-block" (click)="logar()" type="button">{{login}}</button>
        </div>
    </form>
  </section>
  <app-footer></app-footer>
</section>
